$loader-width: 3em;
$loader-height: 3em;
$loader-bg: #333;

.loader {
    width: $loader-width;
    height: $loader-height;
    background-color: $loader-bg;
    margin: 100px auto;
}

//@import "box.scss";
//@import "bounce.scss";












