$loader-width: 6em;
$loader-height: 6em;
$loader-bg: #7cfc00;

.loader {
    width: $loader-width;
    height: $loader-height;
    background-color: $loader-bg;
    margin: 100px auto;
}

@import "box";
@import "bounce";
@import "cube";
@import "spinner";
@import "fold";












